body {
	background: orange;
}

.LoginDiv1,
.LoginDiv2 {
	background: white;
	padding: 10px;
	float: none;
	border-radius: 15px;
}

#User1Name,
#User2Name {
	display: inline-block;
	margin-left: 20px;
}

#User1Lives,
#User2Lives {
	display: inline-block;
}

#Output {
	background: white;
	border-radius: 10px;
	border-top: 10px solid black;
	padding: 10px;
	float: none;
	text-align: left;
}

#OperationsHeading {
	background: black;
	color: white;
	border-radius: 10px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
}

#Addition, #Subtraction, #Multiplication, #Division {
	height: 75px;
	padding-top: 15px;
	font-size: 25px;
}

.glyphicon-heart {
	color: red;
	text-shadow: 5px 5px 5px black;
}

#Overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
  }