body {
	background: red;
}

.LoginDiv1,
.LoginDiv2 {
	background: white;
	padding: 10px;
	float: none;
	border-radius: 15px;
}

#User1Name,
#User2Name {
	display: inline-block;
	margin-left: 20px;
}

#User1Score,
#User2Score {
	display: inline-block;
}

#Output {
	background: white;
	border-radius: 10px;
	border-top: 10px solid #AA4465;
	padding: 10px;
	float: none;
	text-align: left;
}

#OperationsHeading {
	background: #AA4465;
	border-radius: 10px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
}

#Addition, #Subtraction, #Multiplication, #Division {
	height: 75px;
	padding-top: 15px;
	font-size: 25px;
}