body {
    background-color: orange;
    color: white;
}

.TextShadow {
    text-shadow: 5px 5px 5px black;
}

.BoxShadow {
    box-shadow: 5px 5px 5px black;
}

.LoginDiv {
    background-color: white;
    color: black;
    padding: 10px;
    float: none;
    border-radius: 15px;
}

#User1Name,
#User2Name {
    display: inline-block;
    margin-left: 20px;
}

#User1Lives,
#User2Lives {
    display: inline-block;
}

#Output {
    display: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    border-top: 10px solid black;
    padding: 10px;
    float: none;
    text-align: left;
}

.glyphicon-heart {
    color: red;
}

#ResultsDiv {
    position: fixed;
    display: none;
    padding-top: 150px;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

@keyframes enter {
    from {
        margin-top: 1000px;
    }

    to {
        margin-top: 0px;
    }
}

.Animate {
    animation-name: enter;
    animation-duration: 4s;
}

#Correct,
#Wrong {
    position: fixed;
    display: none;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#Correct h1,
#Wrong h1 {
    font-size: 100px;
}

#EquationDiv {
    background-color: white;
    width: 300px;
    border-radius: 10px;
    font-size: 25px;
    border-top: solid 10px black;
}

#EquationDiv textarea {
    border-radius: 10px;
    width: 250px;
    float: none;
    margin: 10px;
    margin-bottom: 0;
    height: 50px;
    padding-left: 5px;
}

#EquationButtons button {
    height: 50px;
    width: 50px;
    margin: 5px;
    border: solid 1px black;
}

#GameCenter {
    margin-top: -125px;
    margin-bottom: 50px;
}

#Tip {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: red;
    line-height: 1;
}

#Loading::before {
    animation: 2s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 25px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 200px;
    will-change: transform;
}

@keyframes spinner {
    from {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    to {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

#LoadingDiv h1 {
    margin-top: 450px;
}